In [3]:
n = [i for i in range(100, 201) if(i%2) == 0]
print(n)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [5]:
n=["alpha","beta","theta"]
n=[i.upper() for i in n ]
print(n)

['ALPHA', 'BETA', 'THETA']

In [8]:
email=["abc@gamil.com","abc@outlook.com","abc@yahoo.com"]
service=[i.split("@")[1] for i in email]
print(service)

['gamil.com', 'outlook.com', 'yahoo.com']

In [16]:
word= {"iokwnckwn","kmasmp","zowdkcm","oiwjepo","pjqowkn","yjneis"}
s=[i for i in word if(i[0] in "pqrstuvwxyz")]
print(s)

['pjqowkn', 'zowdkcm', 'yjneis']

In [18]:
# Given empids = [2017001', '2016001', '2017002', '2017009', '2016100, '2016210]
# using comprehensions find no of emps joined in ear 2016
                
empids = ['2017001', '2016001', '2017002', '2017009', '2016100', '2016210']
emp=[i for i in empids if(i[:4]=="2016")]
print(emp)

['2016001', '2016100', '2016210']

In [28]:
# I = ['2001001', '1998010, '2010111', '2010112, '2011002, '1995080*, '2015021', '2016003]
# generate list of ppl joined between yrs >=1995 and <=2005

I = ['2001001', '1998010', '2010111', '2010112', '2011002', '1995080', '2015021', '2016003']
lst=[i for i in I if(int(i[:4])>=1995 and int(i[:4])<=2005)]
print(lst)

['2001001', '1998010', '1995080']

In [31]:
# Find all of the numbers from 1-200 that have a 3 in them

lst=[i for i in range(1,200) if("3" in str(i))]
print(lst)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193]

In [35]:
# Remove all of the vowels in a string

str="he is a good boy"
str="".join([i for i in str if(i not in "aeiou")])
print(str)

h s  gd by

In [40]:
# Find all of the words in a string that have less than 5 letters

str="qwe qwrwscdc oknsd are owdncjwdkv owidfnweok oiwdnc klamc oasknfqeoi xzkfdnfpm"
str=[i for i in str.split(" ") if(len(i)<5)]
print(str)

['qwe', 'are']

In [46]:
# In an input string remove words that contain an 'e'

str="No more games I'ma change what you call rage Tear this Roof off like two dogs caged"
str=" ".join([i for i in str.split() if("e" not in i)])
print(str)

No I'ma what you call this Roof off two dogs

In [47]:
# Find all of the numbers from 1-200 that are divisible by any single digit besides 1 (2-9)

n= [num for num in range(1, 201) if any(num % i == 0 for i in range(2, 10))]
print(n)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200]

In [49]:
# Given a list of email addresses, replace all occurrences "." of with "_" in the user name

email=["abc@gamil.com","pqr@outlook.com","xyz@yahoo.com"]
email=[i.replace(".","_") for i in email]
print(email)

['abc@gamil_com', 'pqr@outlook_com', 'xyz@yahoo_com']

In [51]:
# Generate a list of file names like prefix no.txt, where prefix='abed' and no takes values from 1 to 5


prefix = 'abed'
files = [f"{prefix} {i}.txt" for i in range(1, 6)]
print(files)

['abed 1.txt', 'abed 2.txt', 'abed 3.txt', 'abed 4.txt', 'abed 5.txt']

In [94]:
# Given a string as follows:
# inp="In an input string remove words that contain Generate a list of file names like Find all of the words in a string that have less than"
# create list of sets as follows:
# expected res = [contains_all_words_starting _with_a), {contains_all words_starting_with_b).
# {contains_all_words_starting_with_c)..{contains_all_words_starting_with_dY
# Example: ['an', 'all', ...J, 0. {'create', 'contain l]



inp = "In an input string remove words that contain Generate a list of file names like Find all of the words in a string that have less than"

# Split the input string into words
words = inp.split()

# Create a list of empty sets for each letter
sets_list = [set() for _ in range(26)]  # 26 letters in the alphabet

# Iterate through the words and add them to the appropriate set based on their starting letter
for word in words:
    if word.isalpha() and len(word) > 0:
        starting_letter = word[0].lower()
        sets_list[ord(starting_letter) - ord('a')].add(word.lower())

# Display the list of sets
for idx, word_set in enumerate(sets_list):
    print(f"Words starting with '{chr(ord('a') + idx)}': {word_set}")

In [62]:
# Create a list of numbers embedded in an input string
# Let inp="Today is 15 day of Febr. The year is 2022 and is expected tolde a better vear for all
# expected output = [15, 2022]

inp="Today is 15 day of Febr. The year is 2022 and is expected tolde a better vear for all"
lst=[int(i) for i in inp.split(" ") if(i.isdigit())]
print(lst)

[15, 2022]

In [66]:
# Remove words that are plurals in an input string, assumption that all words ending with are plurals

inp="Today is 15 days of Febr. The years is 2022 and is expected tolds a better vear for all"
inp=" ".join([i for i in inp.split(" ") if(i[len(i)-1]!="s")])
print(inp)

Today 15 of Febr. The 2022 and expected a better vear for all

In [68]:
# Assume that a list contains dates in format dd/mm/yyyy
# Create a collection of unique years from the input


dates = ["25/12/2021", "15/03/2020", "10/05/2021", "07/09/2020", "30/11/2022","30/11/1996"]


unique = set()
for date in dates:
    unique.add(date.split('/')[2])

print(unique)

{'1996', '2021', '2020', '2022'}

In [71]:
# Consider following input :
# emps = [['Amit', '99999999991]. [Gaurav', '9898989898], ['Kanika', '8787878787], ['Nitish',
# '8888888888], ['Archna', '77777777771
# Create a list of all the mobile nos from this input

emps = [['Amit', '99999999991'],['Gaurav', '9898989898'], ['Kanika', '8787878787'], ['Nitish','8888888888'], ['Archna', '77777777771']]
numbers=[i[1] for i in emps]
print(numbers)

['99999999991', '9898989898', '8787878787', '8888888888', '77777777771']

In [73]:
# Create a list of all odd nos in range 1-400 that are divisible by 7 and not divisible by 5


odd_numbers = [num for num in range(1, 401) if num % 2 != 0 and num % 7 == 0 and num % 5 != 0]
print(odd_numbers)

[7, 21, 49, 63, 77, 91, 119, 133, 147, 161, 189, 203, 217, 231, 259, 273, 287, 301, 329, 343, 357, 371, 399]
[7, 21, 49, 63, 77, 91, 119, 133, 147, 161, 189, 203, 217, 231, 259, 273, 287, 301, 329, 343, 357, 371, 399]

In [74]:
# Using comprehension, find all of the words in a string that have less than 5 letters


str="qwe qwrwscdc oknsd are owdncjwdkv owidfnweok oiwdnc klamc oasknfqeoi xzkfdnfpm"
str=[i for i in str.split(" ") if(len(i)<5)]
print(str)

['qwe', 'are']
['qwe', 'are']

In [81]:
# Given an input list of ip addresses. Extract the ip addresses corresponding to class A. The output should be in a list. Consider the input having valid ips



ips = ["192.168.0.1", "10.0.0.1", "172.16.0.1", "130.45.67.89"]
lst_ips = []
for i in ips:
    k= int(i.split('.')[0])
    if 1 <= k<= 126:
        lst_ips.append(i)
print(lst_ips)

['10.0.0.1']

In [6]:
a=343
print(a)
a="string"
print(a)

a=[123,"string",True,False]
print(a)

343
string
[123, 'string', True, False]

In [18]:
# a=[123,"string",True,False]
# print(a)
# a[0]=True
# print(a)


# a="string"
# # a[start:end:jump]
# print(a[1:6])
# # print(len(a))

tring

In [42]:
# b="character"
# print(b[1:-3])


print("2"+"3")

23

In [64]:
name="a quick grey fox"
s="brown"
a=(name[:8])
b=name[12:]
print(a+s+b)

a quick brown fox

In [70]:
a="aanchal"
x="name"
print("hello my "+x+" is "+a)   #string concatination
print("hello my {} is {}".format(x,a)) #string format
print(f"hello my {x} is {a}")     #F STRING

hello my name is aanchal
hello my name is aanchal
hello my name is aanchal

In [75]:
# a quick grey fox jumps over
a="quick"
b="fox"
c="over"
print("a "+a+" grey "+b+" jumps "+c)
print(f"a {a} grey {b} jumps {c} ")
print("a {} grey {} jumps {} ".format(a,b,c))

a quick grey fox jumps over
a quick grey fox jumps over
a quick grey fox jumps over

In [77]:
lst=["one","two","three","four","five"]
print(lst[1:4])

['two', 'three', 'four']

In [80]:
lst=[1,2,3,4]
a=[0]
print(a+lst)

[0, 1, 2, 3, 4]

In [86]:

lst=[1,2,3,4]
lst.pop()
lst.pop()
print(lst)

[1, 2]

In [87]:
lst=[4,7,2,9,1]
lst.sort()
print(lst)

[1, 2, 4, 7, 9]

In [90]:
s=["a","c","d","b"]
s.sort()
print(s)

['a', 'b', 'c', 'd']

In [91]:
s.reverse()
print(s)

['d', 'c', 'b', 'a']

In [92]:
lst.reverse()
print(lst)

[9, 7, 4, 2, 1]

In [96]:
a="aanchal"
a.upper()
print(a.capitalize())

Aanchal

In [106]:
dic={1:"one",2:"two",3:"three"}
print( dic)

{1: 'one', 2: 'two', 3: 'three'}

In [107]:
print(dic[3])

three

In [111]:
dic2={1:"Aanchal",2:"akshit",3:"jasmine"}
print(dic2[3])

jasmine

In [126]:
dic={1:"one","2":4,3:["j","s","f"]}

In [132]:
dic[3].sort()
print(dic)
d=(dic[3])
print(d)
print(d[1])

{1: 'one', '2': 4, 3: ['f', 'j', 's']}
['f', 'j', 's']
j

In [136]:
dic={1:"one","2":4,3:["j","s","f"]}
x=(dic[3])
print(len(dic[3]))

3

In [139]:
dic={1:"one","2":4,3:["j","s","f"]}

dic[4]= True
print(dic)
dic[4]=False
print(dic)

{1: 'one', '2': 4, 3: ['j', 's', 'f'], 4: True}
{1: 'one', '2': 4, 3: ['j', 's', 'f'], 4: False}

In [1]:
dic={1:"one","2":4,3:["j","s","f"]}
dic[4]=False
y=dic.keys()
print(y)
d=dic.values()
print(d)
k=dic.items()
print(k)

dict_keys([1, '2', 3, 4])
dict_values(['one', 4, ['j', 's', 'f'], False])
dict_items([(1, 'one'), ('2', 4), (3, ['j', 's', 'f']), (4, False)])

In [15]:
t=(2,6,5,6,7,8)
h=len(t)
print(h)
t.count(6)
t.index(6)

6

1

In [20]:
y=set()
y.add("abc")
print(y)
y.add("xyz")
y.add("pqr")
print(y)
y.remove("xyz")
print(y)

{'abc'}
{'abc', 'pqr', 'xyz'}
{'abc', 'pqr'}

In [49]:
a=input("enter  email")
c=a.split("@")
print(f"{c[0]}01@{c[1]}")

enter  emailakshit@gmail.com
akshit01@gmail.com

In [55]:
a="01/07/1986"
d=(a.split("/"))
print(f"day {d[0]} /nmonth {d[1]} /nyear {d[2]}")

day 01 /nmonth 07 /nyear 1986

In [57]:
1<2
a=None

In [102]:
%%writefile one.txt
helloworld

Overwriting one.txt

In [103]:
doc=open('one.txt')

In [67]:
doc.read()

'helloworld\n'

In [78]:
doc.seek(0)

0

In [70]:
doc.write("name")

UnsupportedOperation: not writable

In [124]:
doc.close()

In [72]:
doc.read()

ValueError: I/O operation on closed file.

In [110]:
doc=open('one.txt','r+')
doc.seek(0)
doc.read()
# doc.seek(0)
doc.write("hello")
doc.read()
# doc.read()
# doc.close()

''

In [4]:
%%writefile groot.txt

Writing groot.txt

In [22]:
with open('groot.txt',mode='w+')as z:
    print(z.read())
    print(z.write("akshit"))

6

In [21]:
with open('groot.txt',mode='r')as z:
    print(z.read())

kathuriaathuriaakshit